*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root{
    --text: 2rem;
    --head: calc(1rem+5vw);
} */

body{
    font-family: 'Poppins', sans-serif;
}

.hero-section{
    min-height: 100vh;
    background: 
    linear-gradient(black, transparent)
    ,url("https://images.unsplash.com/photo-1618889482923-38250401a84e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
    animation: slide 1s ease-in-out;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1.5rem;
    color: white;
    animation: movedown 850ms ease-in 1s forwards;
}

@keyframes movedown{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0%);
    }
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
}

.navbar ul li a:hover{
    border-bottom: 2px solid white;
}

.hero-text{
    color: white;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@keyframes slide{
    from{
        transform: translateY(-100%);
    }to{
        transform: translateY(0%);
    }
}

.hero-text::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    top: 0%;
    opacity: 0.6;
}

.hero-text a{
    color: white;
    text-decoration: none;
    background: #ff6348;
    font-weight: 900;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    margin: 0.7rem auto;
    display: block;
    transition: opacity 250ms linear;
}

.hero-text a:hover{
    opacity: 0.6;
}

.hero-text h2{
    font-size: 5rem;
}

.hero-text p{
    font-size: 2.5rem;
}
